/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Arsenal&family=Hind+Siliguri:wght@300;400;500&family=Source+Code+Pro:wght@200;400;500&display=swap');

:root {
	--grasky: #9CC3FF;
	--gramoss: #A5E8DE;
	--gradust: #FFAFB6;
	--gracherry: #E84F77;
	--gracherrydark: #692436;
	--gracherrybrown: #69434D;
	--gralemon: #FFF9B6;
	--sub-heading-font-family: 'Arsenal', sans-serif;
	--text-font-family: 'Hind Siliguri', sans-serif;
	--heading-font-family: 'Source Code Pro', monospace;
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0px;
	font-size:16px;
}

h1,
h2,
h3 {
	color: white;
}
h1{
font-size: 6vmin;
font-family: var(--heading-font-family);
padding:0;
margin:0;
}
h2{
font-size: 5vmin;
font-family: var(--sub-heading-font-family);
padding:0;
margin:0;
}
h3{
font-size: 3vmin;
font-family: var(--text-font-family);
padding:0;
margin:0;
}
p{
	font-size: 2rem;
	font-family: var(--text-font-family);
}
a{
	font-size: 2rem;
}

button{
	border: none;
}

input{
	background:none;
	border:none;
	border-bottom:solid;
	border-bottom-width: 2px;
	font-size:18px;
	color:white;
}

.vh-100 {
	height: 100vh !important;
}


.vhmin-100 {
	min-height: 100vh !important;
}

.h-100 {
	height: 100% !important;
}

.d-flex {
	display: flex;
}
.m-4 {
	margin: 60px;
}
.inrowTitle{	
	font-size: 6vmin;
	flex:100%;
	text-align: center;
	padding:0;
	margin:0;
	align-self: end;	
}
.textColorGCD{
	color:var(--gracherrydark)
}


.m-auto{
	margin-left:auto;
	margin-right: auto;
}
/*----------------------
Menu ----------------------
----------------------*/
.menu{
position: fixed;
height:100%;
right:15px;
display: flex;
flex-direction: column;
justify-content: center;
z-index:290000;
margin-top:10px;
overflow: hidden;
}

.menu-link{
	margin-top: 15px;
	margin-bottom:15px;
	padding:5px;
	font-size:19px;
	color:white;
	text-align:center;
	text-decoration: none;
	background: var(--gracherry); 
}

.menu-active{
	text-decoration: underline;
	font-size: 22px;
	margin-top: 10px;
	margin-bottom:10px;
	padding:10px;
	background: var(--gracherrybrown); 

}

/*----------------------
Menu End ----------------------
----------------------*/


/*----------------------
Pop Up ----------------------
----------------------*/
.popup{
	display: none;
	position: fixed;
	z-index: 10000000000;
	height:100vh;
	width:100vw;
	background: linear-gradient(0deg, rgb(255, 175, 182) 0%, rgb(0, 0, 0) 100%);
}
.exitfrompopup{
	position: absolute;
	right:15px;
}

.formwrapper-register-popup{
	width:100%;
	height:100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	justify-content: center;
	align-items: center;
}
.formwrapper-register-popup p{
	font-size: 20px;
}
.formwrapper-register-popup  .headerCta{
	margin-top: 15px;
}
/*----------------------
Pop up End ----------------------
----------------------*/

.headerBgWrapper {
	height: 100%;
	display: flex;
	justify-content: center;
}

.row {
	display: flex;		
	justify-content: space-around;
	-webkit-justify-content: space-around;
	flex-wrap:wrap;
	flex-direction: row;	
	width: 100%;
}


.col-header {
	width: 60%;
	text-align: center;	
	color: white !important;
	background: rgba(255, 255, 255, 0.08);
	padding: 5rem;
	display: flex;
	flex-direction: column;
	align-self:center;
}
.col-header h3:first-of-type {
	margin-top:30px;
}
.col-header h3 {
	margin-top:0px;
}
.z-index-50 {
	position: relative;
	z-index: 50 !important;
}

.headerCta {
	display: inline-block;
	background: #692436;
	padding: 10px 20px 10px 20px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	text-decoration: none;
	font-size:18px;
	color: white;
}

.time-table {
	align-self: center;	
	color: white;
	padding: 3%;

}
.time-table tr{
	background: var(--gracherry);
	padding:5px;
}
.time-table td{
	background: #000000;
	padding:15px;
	line-height: 1.5em;
	
}



#hero {

	background: linear-gradient(0deg, rgba(255, 175, 182, .25) 0%, rgba(255, 175, 182, 0.014425838694852922) 15%, rgba(0, 0, 0, 1) 100%), #02002A;
}

#speakers {
	background: linear-gradient(0deg, rgba(255, 175, 182, 1) 0%, rgba(255, 175, 182, 0.014425838694852922) 100%);
}

#timetable{	
	background: linear-gradient(0deg, rgba(255, 175, 182, 1) 100%, rgba(255, 175, 182, 0.014425838694852922) 0%);
}

/* PARTICLE JS */
.particles-js-canvas-el {
	position: absolute;
	top: 0;
	height: 100%;
}



/*CARD THEME */
.card-wrapper {
	align-self:center;
	width: 250px;
	margin: 32px 5px 5px 5px;
	background: linear-gradient(var(--gracherry) 0%, #000000 60%);
	padding: 20px;		
}

.card-header {
	display: flex;
	justify-content: center;
	padding-bottom: 15px;
	width: 100%;
}

.card-img {
	width: auto;
	margin-top: -48px;
	height: 250px;
}

.card-body {
	width: 100%;
}

.card-title {
	font-size: 1.2rem;
	font-weight: 800;
	color: white;
	font-family: var(--sub-heading-font-family);
	padding-bottom: 0px;
}

.card-titleLink {
	text-decoration: none;
}

.card-text {
	display: flex;
	flex-basis: content;
	color: white;
	max-height: 4em;
	overflow: hidden;
	text-overflow: ellipsis;
}

.card-textP {
	font-size: 0.9em;
	font-family: var(--text-font-family);
}

.card-footer {
	padding-top: 15px;
	display: flex;
	width: 100%;
}

.card-social {
	height: 25px;
	width: auto;
	margin-right: 5px;
}

.card-readMore {
	align-self: end;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
	color: white;
	font-family: var(--sub-heading-font-family);
	margin-left: auto;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.col-header {
		width: 90%;
	}
	h1{
		font-size: 34px;
	}
	h3{
		font-size: 18px;
		}
	.menu{
		scale:0.5;
	}
	

.time-table {
	overflow:scroll;
}
	
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.col-header {
		width: 80%;
	}
	.menu{
		scale:0.7;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.col-header {
		width: 70%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.col-header {
		width: 65%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.col-header {
		width: 60%;
	}
	#hero {
		background: linear-gradient(0deg, rgba(255, 175, 182, .60) 0%, rgba(255, 175, 182, 0.014425838694852922) 10%, rgba(0, 0, 0, 1) 100%), #02002A;

	}

}